#footer
  padding: 48px mobile-padding 32px mobile-padding
  color: #6e6e73
  text-align: center
  font-size: 14px
  box-sizing: border-box
  width: 100%
  a
    color: #1a1a1c
    text-decoration: underline
    text-underline-offset: 2px
    &:hover
      opacity: 0.6

#footer-info
  line-height: 1.6
