#mobile-nav
  display: none

@media mq-mobile
  #mobile-nav
    display: block
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: #fff
    border-right: 1px solid #e5e5e7

  .mobile-nav-link
    display: block
    color: #6e6e73
    text-decoration: none
    padding: 15px 20px
    font-weight: 500
    &:hover
      color: #1a1a1c
